@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Light.woff2') format('woff2');
    font-weight: lighter;
}

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-SemiBold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Bold.woff2') format('woff2');
    font-weight: bolder;
}