.primaryButton {
  background-color: #004e72;
  color: #FEFEFE;
}

.secondaryButton {
  background: transparent;
  color: #004e72;
  border-color: #004e72;
}
.secondaryButton:hover {
  background-color: #004e72;
  color: #FEFEFE;
}

.tertiaryButton {
  background: transparent;
  color: #ff2132;
  border-color: #ff2132;
}
.tertiaryButton:hover {
  background-color: #ff2132;
  color: #FEFEFE;
}