.myContainer {
    padding: 10px 300px 10px 300px
}

.backgroundForHomepage {
    background: linear-gradient(90deg, #fefefe 0%, #b3e5fc 100%);
    min-height: '100%'
}

.myFont {
    font-family: "Rubik";
}